 /* Color Pallete */


 /* 
 Orange  ----------  #f15d22

 Blue    ----------  #00aeef

 Light Grey	-----------	 #333

 Dark Grey ------------ #666 

 White	-----------  #fff

*/ 

/* NavBar Styles */

nav img{
max-width: 150px;
margin-top: 20px;
}
nav form{
	background-color: #333;
}
.dropdownmenu > li > a {
   text-align: center;

}
 .navbar.navbar-fixed-top{
    background: #333;
}
.nav li a{
	color: #00aeef;
}

/* Slider Styles */
.carousel-inner img{
	width: 100%;
}
.carousel-caption{
	line-height: 3em;
}
.carousel-caption h1, .carousel-caption h2{
	text-shadow:2px 2px #f15d22;
	margin-bottom: .7em;
}
.carousel-caption h4{
	text-shadow:2px 2px #00aeef;
}

/*--------------------*/


/* Row Containing Locations */
.container.imgs{
	max-width: 1280px;
	margin: auto;
	position: relative;
}
.container.top{
	z-index: 2;
	bottom: 40px;
}

div.img-caption{
	position:relative;
	text-align: center;
	bottom: 200px;	
	color: white;
}
video{
	max-width: 100%;
}
div.img-caption p{
	font-size: 1.5em;}


div.img-caption button{
	background-color: #00aeef;
}
div.img-caption button:hover{
	background-color: #f15d22;
	color: #fff;
}
#intro span, #about span, #packages span{
	background-color: #00aeef;
	max-width: 100px;
}
#intro span:hover, #about span:hover{
	background-color: #f15d22;
}
h1{
	font-family: nexa_rust, sans-serif;
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	font-size: 5em;
	margin-top:20px;
}
h2{
	font-family: nexa_rust, sans-serif;
	font-size: 4em;
	margin-bottom: 0px;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/* ------------------*/


/* Row of Featured Clients */
.container.featured{
	background-color: #f15d22;
	width: 100%;
	color: white;
}
.container.featured img{
	padding: 10px 0px 10px;
}

.gigantic {
margin-top: 10%; 
height: auto; 
font-size:2em; 
} 
q:before { 
content: '\201C'; 
font-size:350%;
font-family: Times New Roman; 
padding-right: 10px; 
color: #00aeef;
} 
q:after { 
content: '\201D'; 
font-size:350%; 
padding-left: 20px;
font-family: Times New Roman; 
color: #00aeef;
}

/*-------------------*/


/* Destination Page Styles */

.local_details, .map_weath{
	color: #fff;
	line-height: 2em;
}
.container.end{
	margin-top: 1.5em;
}
#packages { 
			background: url(../_images/para_photos/plane_para2.jpg) 50% 0 fixed; 
			background-size: cover;
			padding-top: 100px;	   
		}
/*---------------------*/


/* Packages Page Styles */
.packages{
	top: 4em;
}
.tours img{
	box-shadow: 3px 4px 5px;
}
#packages h1{
	color: black;
	margin-bottom: 1em;
}
/*-----------------------*/


/*   Forms Page Styles */
legend{
	color: white;
}
form.book{
	padding-bottom: 4em;
	background-image: url(../_images/tweed.png);
	color: white;
	margin-top: 20px;
}
body{
	background-image: url(../_images/tweed.png);
}
div.col-xs-3 #expire{
	float: right;
}
.req{
	color: red;
}
form.book input, form.book select{
	margin-bottom: 15px;
}
/*---------------------*/


/* About Page Styles */
#tweed { 
			background: url(../_images/tweed.png) 50% 0 fixed; 	
			padding-top: 10px;   
		}
#tweed p{
	color: #fff;
	line-height: 2em;
}
#tweed .thumbnail p{
	color: black;
}
/* Extra small devices (phones,  767px and lower) */
@media all and (max-width: 767px){ 

.carousel, .item, .active{
	max-height: 205px;
} 
.carousel-caption{
	bottom: 30px;
	line-height: 1em;
}
.container.imgs{
	max-width: 365px;
	position: relative;
	margin: auto;
}
header{
	top:60px
}
nav img{
	margin: 0px;
}
.navbar-default .navbar-nav>li>a{
	line-height: 20px;
}
.clearfix{
	overflow: auto;
}
div.embed-responsive{
	top:60px;
}
a.large{
	display: none;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 40px;
	margin-top: 1.5em;
}
footer p{
	line-height: 40px;
	margin-bottom: 0px;
	color: #fff;
}
#intro { 
			background: url(../_images/para_photos/cancun_para.jpg) 50% 0 fixed; 
			background-size: cover;
			padding-top: 150px;	  
		}

#about { 
			background: url(../_images/para_photos/hot_air.jpg) 50% 0 fixed;
			background-size: cover;
			padding: 100px 0px; 
		}
}

@media all and (min-width: 768px) and (max-width:991px){
.carousel, .item, .active{
	max-height: 450px;
} 
.carousel-caption{
	bottom: 50px;
}
header{
	top:100px;
}
div.embed-responsive{
	top:100px;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 40px;
}
footer p{
	line-height: 40px;
	margin-bottom: 0px;
	color: #fff;
}
#intro { 
			background: url(../_images/para_photos/cancun_para.jpg) 50% 0 fixed; 
			background-size: cover;
			padding-top: 200px;	  

		}

#about { 
			background: url(../_images/para_photos/hot_air.jpg) 20% 0 fixed;
			padding: 100px 0px; 
		}
.tron{
	max-height: 400px;
}
a.large{
	display: none;
}
}



/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) and (max-width: 1199px) { 

.carousel, .item, .active{
	max-height: 450px;
}
.carousel-caption{
	bottom: 50px;
}
header{
	top:100px;
}

div.col-lg-4.col-med-4{
	max-width: 380px;
	margin: auto;
}
div.row{
	margin: auto;
}
.featured img{
	max-width: 250px;
}
div.embed-responsive{
	top:100px;
}
a.med{
	display: none;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 60px;
}
footer p{
	line-height: 60px;
	margin-bottom: 0px;
	color: #fff;
}
#intro { 
			background: url(../_images/para_photos/cancun_para.jpg) 50% 0 fixed; 	
			padding-top: 200px;   
		}

#about { 
			background: url(../_images/para_photos/hot_air.jpg) 50% 0 fixed;
			padding: 100px 0px; 
		}
}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) { 
.carousel, .item, .active{
	max-height: 650px;
} 

.carousel-caption{
	bottom: 150px;
}
.tron{
	max-height: 500px;
}
.video{
    max-height: 200px;
}
div.embed-responsive{
	top:100px;
}
a.med {
	display: none;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 60px;
}
footer p{
	line-height: 60px;
	margin-bottom: 0px;
	color: #fff;
}
/* --------- Paralax Scolling ----------- */

#intro { 
			background: url(../_images/para_photos/cancun_para_medium.jpg) 50% 0 fixed; 
			height: 65%;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    padding-bottom: 100px;
		    background-size: cover;
		}
	#about { 
			background: url(../_images/para_photos/hot_air_medium.jpg) 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
			background-size: cover;
		    padding: 100px 0;
		    color: #fff;
		}



}