 /* Color Pallete */


 /* 
 Orange  ----------  #f15d22

 Blue    ----------  #00aeef

 Light Grey	-----------	 #333

 Dark Grey ------------ #666 

 White	-----------  #fff

*/ 

/* NavBar Styles */

nav img{
max-width: 150px;
}
nav form{
	background-color: #333;
}
.dropdownmenu > li > a {
   text-align: center;

}
 .navbar.navbar-fixed-top{
    background: #333;
}
.nav li a{
	color: #00aeef;
}

/* Slider Styles */
.carousel-inner img{
	width: 100%;
}
.carousel-caption{
	line-height: 3em;
}
.carousel-caption h1, .carousel-caption h2{
	text-shadow:3px 3px #333;
	margin-bottom: .7em;
}
.carousel-caption h4{
	-webkit-text-stroke: .2px #f15d22;
	-moz-text-stroke: .2px #f15d22;
	-o-text-stroke: .2px #f15d22;
	text-stroke: .2px #f15d22;
}

/*--------------------*/


/* Row Containing Locations */
.container.imgs{
	max-width: 1280px;
	margin: auto;
	position: relative;
}
.container.top{
	z-index: 2;
	bottom: 40px;
}

div.img-caption{
	position:relative;
	text-align: center;
	bottom: 200px;	
	color: white;
}
video{
	max-width: 100%;
}
div.img-caption p{
	font-size: 1.5em;}


div.img-caption button{
	background-color: #00aeef;
}
div.img-caption button:hover{
	background-color: #f15d22;
	color: #fff;
}
#intro span, #about span, #packages span{
	background-color: #00aeef;
	max-width: 100px;
}
#intro span:hover, #about span:hover{
	background-color: #f15d22;
}
h1.font{
	font-family: nexa_rust, sans-serif;
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	font-size: 5em;
	margin-top:20px;
}
h2.font{
	font-family: nexa_rust, sans-serif;
	font-size: 4em;
	margin-bottom: 0px;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/* ------------------*/


/* Row of Featured Clients */
.container.featured{
	background-color: #f15d22;
	width: 100%;
	color: white;
}
.container.featured img{
	padding: 10px 0px 10px;
}
.gigantic {
margin-top: 10%; 
height: auto; 
font-size:2em; 
} 
q:before { 
content: '\201C'; 
font-size:350%;
font-family: Times New Roman; 
padding-right: 10px; 
color: #00aeef;
} 
q:after { 
content: '\201D'; 
font-size:350%; 
padding-left: 20px;
font-family: Times New Roman; 
color: #00aeef;
}

/*-------------------*/


/* Destination Page Styles */

.local_details, .map_weath{
	color: #fff;
	line-height: 2em;
}
.contact{
	margin-top: 120px;
}
.dest{
	margin-left: 1.5em;
}
#packages { 
			background: url(../_images/para_photos/plane_para2.jpg) 50% 0 fixed; 
			background-size: cover;
			padding-top: 100px;	   
		}
#googleMap{
	margin-bottom: 1.5em;
}
/*---------------------*/


/* Packages Page Styles */
.packages{
	top: 4em;
}

}
.tours img{
	box-shadow: 3px 4px 5px;
}
#packages h1{
	color: #fff;
	text-shadow:3px 3px #333;
	margin-bottom: 1em;
}
/*-----------------------*/


/*   Forms Page Styles */
legend{
	color: white;
}
form.book{
	padding-bottom: 4em;
	background-image: url(../_images/tweed.png);
	color: white;
	margin-top: 20px;
}
body{
	background-image: url(../_images/tweed.png);
}
div.col-xs-3 #expire{
	float: right;
}
.req{
	color: red;
}
form.book input, form.book select{
	margin-bottom: 15px;
}
/*---------------------*/


/* About Page Styles */
#tweed { 
			background: url(../_images/tweed.png) 50% 0 fixed; 	
			padding-top: 10px;   
		}
#tweed p{
	color: #fff;
	line-height: 2em;
}
#tweed .thumbnail p{
	color: black;
}


/*-------------  Destinations Page Styles -----------------*/
/*---------------------------------------------------------*/
.top_container {
	margin-top: 100px;
}
.loca_details {
	margin-bottom: 2em;
}
#googleMap {
	margin-top: 20px;
}
.wu-logo {
	font-size: 1.1em;
}
.wu-logo img {
	height: 45px;
}
.loc-details, .loc-name, .loc-activities, .loc-dining, .loc-weath{
	color: rgba(240,230,225,1);
	line-height: 2em;
}

.loc-activities img, .loc-dining img {
	margin-top: 20px;
}
.current_weather {
	font-size: 1.5em;
}
.loc-name {
	background-color: rgba(0,0,0,.3);
	height:70px;
	padding: 0 0 0 10px;
}
#weather_info {
	background-color: rgba(0,0,0,.3);
	height:45px;
	padding: 8px;
}
.act-text h2 {
	background-color: rgba(0,0,0,.3);
	height:55px;
	padding: 10px 0 0 10px;
}
.loc-dining h2 {
	background-color: rgba(0,0,0,.3);
	height:55px;
	padding: 10px 0 0 10px;
}
.includedbottom{
	color: #fff;
}
h1.thanks{
	margin:5em auto 5em;
}
body.thanks{
	height: initial;
}
/*-------------  End Destinations Page Styles -------------*/
/*---------------------------------------------------------*/

/*-------------  Contact Page Styles ----------------------*/
/*---------------------------------------------------------*/
#body-2 {
	background-color: #f5f5f5;
	background-image: none;
}
.contact-test {
	margin-bottom: 30px;
}
.contact-test div{
	min-height: 400px;
}
.cont-desc1{
	background-color: green;
}
.cont-leap-lux{
	background-color: orange;
}
/*-------------  End Contact Page Styles ----------------------*/
/*---------------------------------------------------------*/



/* Extra small devices (phones,  767px and lower) */
@media all and (max-width: 767px){ 

.carousel, .item, .active{
	max-height: 205px;
} 
.carousel-caption{
	bottom:-15px;
	line-height: .5em;
	font-size: .7em;
}
.container.imgs{
	max-width: 365px;
	position: relative;
	margin: auto;
}
#video{
    margin-top: 4em;
}
header{
	top:60px
}
nav img{
	margin: 0px;
}
.navbar-default .navbar-nav>li>a{
	line-height: 20px;
}
.clearfix{
	overflow: auto;
}
.included{
	display: none;
}
a.large{
	display: none;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 40px;
}
footer p{
	line-height: 40px;
	margin-bottom: 0px;
	margin-left: 1em;
	color: #777;
}
form.book{
	padding-top: 5em;
}
#intro { 
			background: url(../_images/para_photos/cancun_para.jpg) 50% 0 fixed; 
			background-size: cover;
			padding-top: 150px;	  
		}

#about { 
			background: url(../_images/para_photos/hot_air.jpg) 50% 0 fixed;
			background-size: cover;
			padding: 100px 0px; 
		}
}
@media all and (min-width: 768px) and (max-width:991px){
.carousel, .item, .active{
	max-height: 450px;
} 
.carousel-caption{
	bottom: 50px;
}
.included{
	display: none;
}
header{
	top:100px;
}
#video{
    margin-top: 4em;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 40px;
}
footer p{
	line-height: 40px;
	margin-bottom: 0px;
	margin-left: 1em;
	color: #777;
}
form.book{
	padding-top: 8em;
}
#intro { 
			background: url(../_images/para_photos/cancun_para.jpg) 50% 0 fixed; 
			background-size: cover;
			padding-top: 200px;	  

		}

#about { 
			background: url(../_images/para_photos/hot_air.jpg) 20% 0 fixed;
			padding: 100px 0px; 
		}
.tron{
	max-height: 400px;
	bottom: 10em;
}
a.large{
	display: none;
}
}
/* Special Collaps for NavBar */
@media (min-width: 768px) and (max-width: 800px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .carousel-inner{
	bottom:40px;
} 
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
/* --------------------*/
/* Nav Logo Fix */
@media (min-width: 801px){
	nav img{
	margin-top: 20px;
}
}
/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) and (max-width: 1199px) { 
.carousel, .item, .active{
	max-height: 450px;
}
.carousel-caption{
	bottom: 50px;
}
header{
	top:100px;
}
div.col-lg-4 .img-caption{
	padding-right: 6.5em;
}
div.includedbottom{
	display: none;
}
#video{
    margin-top: 2em;
}
a.med{
	display: none;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 60px;
}
footer p{
	line-height: 60px;
	margin-bottom: 0px;
	margin-left: 1em;
	color: #777;
}
form.book{
	margin-top: 9em;
}
#intro { 
			background: url(../_images/para_photos/cancun_para.jpg) 50% 0 fixed; 	
			padding-top: 200px;   
			background-size: cover;
		}

#about { 
			background: url(../_images/para_photos/hot_air.jpg) 50% 0 fixed;
			padding: 100px 0px; 
		}
}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) { 
.carousel, .item, .active{
	max-height: 650px;
} 
nav img{
	margin-top: 20px;
}
.carousel-caption{
	bottom: 150px;
}
.tron{
	max-height: 500px;
}
#video{
    margin-top: 2em;
}
div.includedbottom{
	display: none;
}
a.med {
	display: none;
}
.container.end{
	background-color: #333;
	width: 100%;
	height: 60px;
}
footer p{
	line-height: 60px;
	margin-bottom: 0px;
	margin-left: 1em;
	color: #777;
}
/* --------- Paralax Scolling ----------- */

#intro { 
			background: url(../_images/para_photos/cancun_para_medium.jpg) 50% 0 fixed; 
			height: 65%;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    padding-bottom: 100px;
		    background-size: cover;
		}
	#about { 
			background: url(../_images/para_photos/hot_air_medium.jpg) 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
			background-size: cover;
		    padding: 100px 0;
		    color: #fff;
		}



}