 /* Color Pallete */


 /* 
 Orange  ----------  #f15d22

 Blue    ----------  #00aeef

 Light Grey	-----------	 #333

 Dark Grey ------------ #666 

 White	-----------  #fff

*/ 

/* NavBar Styles */
h1{
	text-align: center;
	margin-bottom: 0px;
	color: #fff;
	margin-top:20px;
}
nav img{
max-width: 150px;
margin-top: 20px;
}
nav form{
	background-color: #333;
}
.dropdownmenu > li > a {
   text-align: center;

}
 .navbar.navbar-fixed-top{
    background: #333;
}
.nav li a{
	color: #00aeef;
}

/* Slider Styles */
.carousel-inner img{
	width: 100%;
}
.carousel-caption{
	line-height: 3em;
}
/*--------------------*/


/* Row Containing Locations */
.container.imgs{
	max-width: 1280px;
	margin: auto;
	position: relative;
}
.container.top{
	z-index: 2;
	bottom: 40px;
}

div.img-caption{
	position:relative;
	text-align: center;
	bottom: 200px;	
	color: white;
}

div.img-caption p{
	font-size: 1.5em;}


div.img-caption button{
	background-color: #00aeef;
}
div.img-caption button:hover{
	background-color: #f15d22;
	color: #fff;
}
#intro span, #about span{
	background-color: #00aeef;
	max-width: 100px;
}
#intro span:hover, #about span:hover{
	background-color: #f15d22;
}
a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/* ------------------*/


/* Row of Featured Clients */
.container.featured{
	background-color: #f15d22;
	width: 100%;
	color: white;
}
.container.featured img{
	padding: 10px 0px 10px;
}

.gigantic {
margin-top: 10%; 
height: auto; 
font-size:2em; 
} 
q:before { 
content: '\201C'; 
font-size:350%;
font-family: Times New Roman; 
padding-right: 10px; 
color: #00aeef;
} 
q:after { 
content: '\201D'; 
font-size:350%; 
padding-left: 20px;
font-family: Times New Roman; 
color: #00aeef;
}

/* Footer Styles */
.container.end{
	background-color: #333;
	width: 100%;
	height: 50px;
}
footer img{
	max-width: 50px;
	float: right;
	margin-left: 5px
}
footer p{
	padding-top: 30px;
	margin-bottom: 0px;
	color: #fff;
}
/*-------------------*/


/* Destination Page Styles */

.destination h1{
	margin:0px;
}
 .destination div.row{
	color: black;
	margin-bottom: 4em;
}
.destination img{
	box-shadow: 3px 4px 5px;
}
#destination{
	background-color: #fff;
	padding: 100px 0px; 
}
/*---------------------*/


/* Packages Page Styles */
.packages{
	top: 4em;
}
.tours img{
	box-shadow: 3px 4px 5px;
}
/*-----------------------*/


/*   Forms Page Styles */
legend{
	color: white;
}
form.book{
	padding-bottom: 4em;
	background-image: url(../_images/tweed.png);
	color: white;
	margin-top: 20px;
}
body{
	background-image: url(../_images/tweed.png);
}
div.col-xs-3 #expire{
	float: right;
}
.req{
	color: red;
}
form{
	
}
form.book input, form.book select{
	margin-bottom: 15px;
}
/*---------------------*/


/* About Page Styles */
#tweed { 
			background: url(../_images/tweed.png) 50% 0 fixed; 	   
		}
#tweed p{
	color: #fff;
	line-height: 2em;
}
#tweed .thumbnail p{
	color: black;
}
/* Extra small devices (phones,  767px and lower) */
@media all and (max-width: 767px){ 

.carousel, .item, .active{
	max-height: 235px;
} 
.carousel-caption{
	bottom: 30px;
	line-height: 1em;
}
.container.imgs{
	max-width: 365px;
	position: relative;
	margin: auto;
}
nav img{
	margin: 0px;
}
.navbar-default .navbar-nav>li>a{
	line-height: 20px;
}
#intro { 
			background: url(../_images/cancun1.jpg) 50% 0 fixed; 	   
		}

#about { 
			background: url(../_images/cancun2.jpg) 50% 0 fixed;
			padding: 100px 0px; 
		}
}

@media all and (min-width: 768px) and (max-width:991px){
.carousel, .item, .active{
	max-height: 450px;
} 
.carousel-caption{
	bottom: 50px;
}
#intro { 
			background: url(../_images/cancun1.jpg) 50% 0 fixed; 	   
		}

#about { 
			background: url(../_images/cancun2.jpg) 50% 0 fixed;
			padding: 100px 0px; 
		}
}



/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) and (max-width: 1199px) { 

.carousel, .item, .active{
	max-height: 450px;
}
.carousel-caption{
	bottom: 50px;
}

div.col-lg-4.col-med-4{
	max-width: 380px;
	margin: auto;
}
div.row{
	max-width: 80%;
	margin: auto;
}
.featured img{
	max-width: 250px;
}
#intro { 
			background: url(../_images/cancun1.jpg) 50% 0 fixed; 	   
		}

#about { 
			background: url(../_images/cancun2.jpg) 50% 0 fixed;
			padding: 100px 0px; 
		}
}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) { 
.carousel, .item, .active{
	max-height: 650px;
} 

.carousel-caption{
	bottom: 150px;
}
.tron{
	max-height: 500px;
}

/* --------- Paralax Scolling ----------- */

#intro { 
			background: url(../_images/cancun1.jpg) 50% 0 fixed; 
			height: 65%;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    padding-bottom: 100px;
		}
	#about { 
			background: url(../_images/cancun2.jpg) 50% 0 fixed; 
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 

		    padding: 100px 0;
		    color: #fff;
		}



}