// colors

$main-text: #00aeef; // main text
$link: #f15d22; // anchor tags
$background: #e7eaf0; // body background color

$color-1: #00aeef; // blue
$color-2: #f15d22; // orange
$color-3: #ffffff; // white

// fonts 

$primary-font: 'Lora', serif;